[data-theme="yellow"] {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --primary: 47.9 95.8% 53.1%;
  --primary-foreground: 26 83.3% 14.1%;
  --secondary: 47.9 96% 92%;
  --secondary-foreground: 26 83.3% 18%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 47.9 96% 92%;
  --accent-foreground: 26 83.3% 18%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 47.9 95.8% 53.1%;
  --radius: 0.5rem;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
}

[data-theme="yellow"][data-mode="dark"],
[data-mode="dark"] [data-theme="yellow"]:not([data-mode="light"]) {
  --background: 20 14.3% 4.1%;
  --foreground: 60 9.1% 97.8%;
  --primary: 47.9 95.8% 53.1%;
  --primary-foreground: 26 83.3% 14.1%;
  --secondary: 26 40% 18%;
  --secondary-foreground: 47.9 96% 90%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --accent: 26 40% 18%;
  --accent-foreground: 47.9 96% 90%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;
  --ring: 35.5 91.7% 32.9%;
  --card: 20 14.3% 4.1%;
  --card-foreground: 60 9.1% 97.8%;
  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;
}
